<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns#">
  <title>기적의 어린이병원</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    "mobile", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "mobile", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="" />
  <meta property="fb:app_id" content="<%= FACEBOOK_CONFIG[:relay][:app_id] %>" />
  <meta property="og:type"   content="myapp:myobject" />
</head>
<body id="mobile">
  <div class="login">
    <div class="login_box">
      <%= link_to image_tag("login.jpg"), nil, title: "join", id: "join" %>
    </div>
  </div>
</body>
</html>