<div class="wrap">
  <div class="title">
    <div class="tt">
      댓글로 기부를! 이상한 기부!
    </div>
    <div class="num clearfix">
      <div class="n_seventh">
        <img src="images/num/1.jpg" />
      </div>
      <div class="n_sixth">
        <img src="images/num/7.jpg" />
      </div>
      <div class="n_fifth">
        <img src="images/num/6.jpg" />
      </div>
      <div class="n_fourth">
        <img src="images/num/6.jpg" />
      </div>
      <div class="n_third">
        <img src="images/num/8.jpg" />
      </div>
      <div class="n_second">
        <img src="images/num/3.jpg" />
      </div>
      <div class="n_first">
        <img src="images/num/0.jpg" />
      </div>
    </div>
  </div><!--start:character _block-->
  <div>
    <%= image_tag "page_tab/img_character.jpg"%>
  </div><!--end:character _block--><!--start:movie _block-->
  <div>
    <%= image_tag "page_tab/temp_movie.jpg" %>
  </div><!--end:movie _block--><!--start:btn_block-->
  <div class="btn_block">
    <p class="btn_comment">
      <%= link_to image_tag("page_tab/btn_comment.jpg"), nil, {title: "영웅의 한마디 남기기"} %>
    </p>
  </div><!--end:btn_block-->
  <!--start:status-->
          <div class="status_block">
          	<div class="txt">
              <%= image_tag "page_tab/txt_status.jpg" %>
              </div>
              <div class="status clearfix">
              	<ul class="s_first clearfix">
                  	<!-- 20-->
                  	<li class="fill_02">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                      <!-- 10-->
                  	<li class="fill_01">
                      </li>
                  	<li class="fill_01">
                      </li>
                  	<li class="fill_01">
                      </li>
                  	<li class="fill_01">
                      </li>
                  	<li class="fill_01">
                      </li>
                  	<li class="fill_01">
                      </li>
                  	<li class="fill_01">
                      </li>
                  	<li class="fill_01">
                      </li>
                  	<li class="fill_01">
                      </li>
                  	<li class="fill_01">
                      </li>
                      <!--txt_block-->
                      <li class="txt_block">
                        <%= image_tag "page_tab/status/1000_02.jpg" %>
                      </li>
                  </ul>
              	<ul class="s_second clearfix">
                  	<!-- 30-->
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>             
                  	<!-- 20-->
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                      <!-- 10-->
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                      <!--txt_block-->
                <li class="txt_block">
                      <%= image_tag "page_tab/status/3000_01.jpg" %>
                      </li>
                  </ul>
              	<ul class="s_third clearfix">
                  	<li class="cross">
                      <%= image_tag "page_tab/status/cross_blank.jpg" %>
                      </li>
                  	<!-- 40-->
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>                    
                  	<!-- 30-->
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>             
                  	<!-- 20-->
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                      <!-- 10-->
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                  	<li class="blank">
                      </li>
                      <!--txt_block-->
                      <li class="txt_block">
                        <%= image_tag "page_tab/status/5000_01.jpg" %>
                      </li>
                  </ul>               
              </div>
          </div>
          <!--end:status-->
  <!--start:comment list-->
  <div class="comment_list_block">
    <% @wall_posts.each do |wall_post| %>
      <!--start:comment_one-->
      <div class="comment_one clearfix">
        <div class="img">
          <%= image_tag wall_post.user.profile_image %>
        </div>
        <div class="txt_block">
          <p class="name">
            <%= wall_post.user.name %>
          </p>
          <p class="txt">
            <%= wall_post.message%>
          </p>
        </div>
      </div><!--end:comment_one-->
    <% end %>
  </div><!--end:comment list-->
  <div class="txt_bottom">
    <%= image_tag "page_tab/txt_bottom.jpg" %>
  </div>
</div>


<%= @wall_posts.count * 5000 %>원 적립
<%= simple_form_for @wall_post do |f| %>
  <%= f.input :message %>
  <%= f.button :submit %>  
<% end %>