<h1>이벤트 페이지</h1>
<p>
<%= request.env['facebook.params'] %>
<%= request.env['omniauth.auth'] %>
</p>
<p>
<%= session[:facebook_uid] %>
<%= session[:facebook_token] %>
</p>
<ul>
<% @wall_posts.each do |post| %>
<li><%= post.message %></li>
<% end %>
</ul>
<%= simple_form_for @wall_post do |f| %>
  <%= f.input :message %>
  <%= f.button :submit %>  
<% end %>