.status_block .status ul li.fill_01
<div class="wrap">
<div class="status_block">

  <div class="status clearfix">
    <ul class="s_third clearfix">
      <%=raw render_a_box_group("first",box_set(200)[0]) %>
      <li class="txt_block">
        <%= image_tag "page_tab/status/3000_01.jpg" %>
      </li>
    </ul>
    <ul class="s_third clearfix">
        <%=raw render_a_box_group("second",box_set(200)[1]) %>
      <li class="txt_block">
        <%= image_tag "page_tab/status/3000_01.jpg" %>
      </li>
    </ul>
    <ul class="s_third clearfix">
      <li class="cross">
        <%= image_tag "page_tab/status/cross_blank.jpg" %>
      </li>
        <%=raw render_a_box_group("third",box_set(200)[2]) %>
      <li class="txt_block">
        <%= image_tag "page_tab/status/3000_01.jpg" %>
      </li>
    </ul>
  </div>
</div>

<div class="status_block">

    <div class="status clearfix">
      <ul class="s_third clearfix">
      <%=raw render_a_box_group("first",box_set(3000)[0]) %>
      </ul>
      <ul class="s_third clearfix">
      <%=raw render_a_box_group("second",box_set(3000)[1]) %>
      </ul>
      <ul class="s_third clearfix">
      <%=raw render_a_box_group("third",box_set(3000)[2]) %>
      </ul>
    </div>

</div>

<div class="status_block">

    <div class="status clearfix">
      <ul class="s_third clearfix">
      <%=raw render_a_box_group("first",box_set(8000)[0]) %>
      </ul>
      <ul class="s_third clearfix">
      <%=raw render_a_box_group("second",box_set(8000)[1]) %>
      </ul>
      <ul class="s_third clearfix">
      <%=raw render_a_box_group("third",box_set(8000)[2]) %>
      </ul>
    </div>

</div>

<div class="status_block">

    <div class="status clearfix">
      <ul class="s_third clearfix">
      <%=raw render_a_box_group("first",box_set(13000)[0]) %>
      </ul>
      <ul class="s_third clearfix">
      <%=raw render_a_box_group("second",box_set(13000)[1]) %>
      </ul>
      <ul class="s_third clearfix">
      <%=raw render_a_box_group("third",box_set(13000)[2]) %>
      </ul>
    </div>

</div>


</div>