<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head>
  <title>Hospital</title>
  <%= stylesheet_link_tag "page_tab", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= csrf_meta_tags %>
</head>
<body id="main">
  <div id="fb-root"></div>
  <script>
  $(function() {
    // this initializes the dialog (and uses some common options that I do)
    $("#comment_popup").dialog({
      autoOpen : false, 
      modal : true, 
      show : "blind", 
      hide : "blind",
      position: [110,20]
    });

    // next add the onclick handler
    $("#comment_open").click(function() {
      $("#comment_popup").dialog("open");
      return false;
    });
  });

window.fbAsyncInit = function() {
// init the FB JS SDK
  FB.init({
    appId      : '<%= FACEBOOK_CONFIG[:app_id] %>',                        // App ID from the app dashboard
    channelUrl : '//<%= FACEBOOK_CONFIG[:domain] %>/channel.html', // Channel file for x-domain comms
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });
  <%# if current_page?(controller: 'home', action: 'index') %>
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
      } else if (response.status === 'not_authorized') {
        FB.login(function(response){},{scope: 'email, publish_stream, user_relationship_details'});
      } else {
      
      }
    });
  <%# end %>
  FB.Canvas.setSize();
  FB.Canvas.setAutoGrow();
  FB.Event.subscribe('edge.create',
        function(href, widget) {
          location.reload();
          location.href()
        }
    );
};

(function(d){
  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  ref.parentNode.insertBefore(js, ref);
}(document));

</script>
<%= yield %>


</body>
</html>
