<!DOCTYPE html>
<html>
<head>
  <title>Fcanvas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>
window.fbAsyncInit = function() {
// init the FB JS SDK
  FB.init({
    appId      : '<%= FACEBOOK_CONFIG[:app_id] %>',                        // App ID from the app dashboard
    channelUrl : '//<%= FACEBOOK_CONFIG[:domain] %>/channel.html', // Channel file for x-domain comms
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });
  <%# if current_page?(controller: 'home', action: 'index') %>
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
      } else if (response.status === 'not_authorized') {
        FB.login(function(response){},{scope: 'email, publish_stream, user_relationship_details'});
      } else {
      
      }
    });
  <%# end %>
};

(function(d){
  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  ref.parentNode.insertBefore(js, ref);
}(document));

function testAPI() {
  console.log('Welcome!  Fetching your information.... ');
  FB.api('/me', function(response) {
  console.log('Good to see you, ' + response.name + '.');
  });
}
</script>
<%= yield %>

</body>
</html>
