<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns#">
  <title>Miracle Hospital</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="mobile">
  <div id="fb-root"></div>
  <script>
  ;(function($) {
      $(function() {
          $('#comment_submit_button').bind('click', function(e) {
            $('#new_mobile_wall_post').submit();
          });
          $('#comment_open').bind('click', function(e) {
            e.preventDefault();
            $('#comment_popup').bPopup({
              follow: [false, false], //x, y
              position: ['auto', 400] //x, y
            });
          });

          $(document).ready(function(){
            <% if flash[:popup] == "complete" %>
              $('#mobile_comment_complete_popup').bPopup({
                follow: [false, false], //x, y
                position: ['auto', 150] //x, y
              });
            <% elsif flash[:popup] == "invalid" %>
              $('#mobile_comment_invalid_popup').bPopup({
                follow: [false, false], //x, y
                position: ['auto', 150] //x, y
              });
            <% elsif flash[:popup] == "timelimit" %>
              alert("응원은 20초에 한번만 가능합니다.");
              $('#mobile_comment_invalid_popup').bPopup({
                follow: [false, false], //x, y
                position: ['auto', 150] //x, y
              });
            <% end %>
          });

      });
  })(jQuery);
window.fbAsyncInit = function() {
// init the FB JS SDK
  FB.init({
    appId      : '<%= FACEBOOK_CONFIG[:app_id] %>',                        // App ID from the app dashboard
    channelUrl : '//<%= FACEBOOK_CONFIG[:domain] %>/channel.html', // Channel file for x-domain comms
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });
  // FB.login(function(response){},{scope: 'email, publish_stream, user_relationship_details'});
  FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
      var uid = response.authResponse.userID;
      var accessToken = response.authResponse.accessToken;
      $("#uid").val(uid);
      $("#access_token").val(accessToken);
      $.post( "/users", {uid: uid, access_token: accessToken}, function( data ) {

      });
    } else if (response.status === 'not_authorized') {
      FB.login(function(response){
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;
        $("#uid").val(uid);
        $("#access_token").val(accessToken);
        $.post( "/users", {uid: uid, access_token: accessToken}, function( data ) {
        });        
      },{scope: 'email, publish_stream, publish_actions, user_relationship_details,user_photos'});
    } else {
    
    }
  });
  FB.Canvas.setSize();
  FB.Canvas.setAutoGrow();
  FB.Event.subscribe('edge.create',
    function(href, widget) {
      location.reload();
    }
  );
  FB.Event.subscribe('edge.remove',
    function(href, widget) {
      location.reload();
      }
  );
  
};

(function(d){
  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  ref.parentNode.insertBefore(js, ref);
}(document));

</script>
<fb:like href="https://www.facebook.com/pages/ThchStartup/1377173915843709" colorscheme="light" layout="button_count" action="like" show_faces="false" send="false"></fb:like>



<%= yield %>


</body>
</html>
