<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns#">
  <title>기적의 어린이재활병원 '영웅의 한마디'</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    "mobile", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "mobile", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="title" content="기적의 어린이재활병원 '영웅의 한마디'" />
  <meta name="description" content="Description Here" />
  <link rel="image_src" href="preview-image-here.jpg" />
  <meta property="fb:app_id" content="<%= FACEBOOK_CONFIG[:relay][:app_id] %>" />
  <meta property="og:type"   content="myapp:myobject" />
  <meta property="og:url"  content="http://bit.ly/173wYGA" />
  <meta property="og:title"  content="기적의 어린이재활병원" />
  <meta property="og:image"  content="http://farm4.staticflickr.com/3665/10288523825_3fea0316ef_o.jpg" />

</head>
<body id="mobile">
  <div id="fb-root"></div>
<script type="text/javascript">

function verifyUserLikesPage() {
  FB.api("/me/likes/<%= FACEBOOK_CONFIG[:relay][:page_id]%>", function(apiResponse){
    if (apiResponse.data && apiResponse.data.length > 0){
      window.location.href = "/mobile_relay/<%= params[:uid] %>?like=true"
    }else{
      window.location.href = "/mobile_relay/<%= params[:uid] %>?like=false"
    }
  });
};

$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/ko_KR/all.js', function(){
    FB.init({
      appId      : '<%= FACEBOOK_CONFIG[:relay][:app_id] %>',            // App ID from the app dashboard
      channelUrl : '//<%= FACEBOOK_CONFIG[:relay][:domain] %>/channel.html', // Channel file for x-domain comms
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    FB.Event.subscribe('edge.create', function(href, widget){
      // spin();
      verifyUserLikesPage();
    });
    FB.Event.subscribe('edge.remove', function(href, widget){
      // spin();
      verifyUserLikesPage();
    });
  });
  
});
</script>
<%= yield %>

</body>
</html>
