<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns#">
  <title>기적의 어린이재활병원 '영웅의 한마디'</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    "mobile", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "relay", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="title" content="기적의 어린이재활병원 '영웅의 한마디'" />
  <meta name="description" content="Description Here" />
  <link rel="image_src" href="preview-image-here.jpg" />
  <meta property="fb:app_id" content="<%= FACEBOOK_CONFIG[:relay][:app_id] %>" />
  <meta property="og:type"   content="myapp:myobject" />
  <meta property="og:url"  content="http://bit.ly/173wYGA" />
  <meta property="og:title"  content="기적의 어린이재활병원" />
  <meta property="og:image"  content="http://farm4.staticflickr.com/3665/10288523825_3fea0316ef_o.jpg" />

  <script type="text/javascript">
function spin(){
  var opts = {
    lines: 13, // The number of lines to draw
    length: 20, // The length of each line
    width: 10, // The line thickness
    radius: 30, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 29, // The z-index (defaults to 2000000000)
    left: 116-60, // Left position relative to parent in px
    top: 160-60 // Top position relative to parent in px
  };
  var target = document.getElementById('join');
  var spinner = new Spinner(opts).spin(target);
};
function like_spin(){
  var opts = {
    lines: 13, // The number of lines to draw
    length: 20, // The length of each line
    width: 10, // The line thickness
    radius: 30, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 29, // The z-index (defaults to 2000000000)
    left: 116-60, // Left position relative to parent in px
    top: 0-60 // Top position relative to parent in px
  };
  var target = document.getElementById('like_button');
  var spinner = new Spinner(opts).spin(target);
};

function verifyUserLikesPage(uid) {
  var result;
  $.ajax({
    url:"/relay/check_like.json?uid="+uid,
    dataType: "JSON",
    type: "GET",
    success: function(response) {
      if(response.result === true){
        result = true;
        window.location.href = "/relay/mobile_login/"+uid+"?like=true";
      }else{
        window.location.href = "/relay/mobile_login";
      }
    }
  });
  
  // FB.api("/me/likes/<%= FACEBOOK_CONFIG[:relay][:page_id]%>", function(apiResponse){
  //   if (apiResponse.data && apiResponse.data.length > 0){
  //     window.location.href = "/relay/mobile_login/"+uid+"?like=true";
  //   }
  // });
};
function reload(uid){
  window.location.href = "/relay/mobile_login/"+uid;
};
function login(response){
  spin();
  var uid = response.authResponse.userID;
  var accessToken = response.authResponse.accessToken;
  $.ajax({
    type: "POST",
    url: "/manto_users",
    data: {uid: uid, access_token: accessToken, test: "test"},
    headers: {
      'X-Transaction': 'POST Example',
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    },
    success: reload(uid)
  });
};

var cb = function(response){
  if (response.status === 'connected') {
    login(response);
  } else if (response.status === 'not_authorized') {
    alert('캠페인 참여를 위해 페이스북 로그인이 필요합니다.');
  } else {
    alert('페이스북 로그인이 필요합니다.');
  }
};

function fb_auth(e){
  e.preventDefault();
  FB.getLoginStatus(function(response) {
    if (response.status === 'not_authorized') {
      FB.login(cb,{
        scope: 'email, user_birthday'
      });
      login(response);
    }else if (response.status === 'connected'){
      login(response);
    }else{
      FB.login(cb,{
        scope: 'email, user_birthday'
      });
      login(response);
    }
  });
};

$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/ko_KR/all.js', function(){
    FB.init({
      appId      : '<%= FACEBOOK_CONFIG[:relay][:app_id] %>',     // App ID from the appdashboard
      channelUrl : '//<%= FACEBOOK_CONFIG[:relay][:domain] %>/channel.html', // Channel file for x-domain comms
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    
    // $('#join').bind('click', function(e) {
    //   fb_auth(e);
    // });
    FB.Event.subscribe('edge.create', function(href, widget){
      like_spin();
      var uid;
      uid = $.url().param('uid');
      verifyUserLikesPage(uid);
    });
    FB.Event.subscribe('edge.remove', function(href, widget){
      // spin();
      var uid;
      verifyUserLikesPage(uid);
    });
  });
});

</script>

</head>
<body id="mobile">
  <div id="fb-root"></div>
<%= yield %>

</body>
</html>
